@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;
  color: #111111;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

::selection {
  background: #C8B273;
  color: white;
}
